h1 {
  font-size: 52px;
  font-family: 'Niconne';
}

h2 {
  font-size: 36px;
  font-family: 'Lusitana', bold;
}

h3 {
  font-size: 24px;
  font-family: 'Lusitana';
}

h4 {
  font-size: 36px;
  font-family: 'Niconne', cursive;
}

h5 {
  font-size: 16px;
  font-family: 'Lusitana';
}

p {
  font-size: 12px;
  font-family: 'Lato';
}

ul {
  font-size: 12px;
  font-family: 'Lato';
  list-style-position: inside;
}

li {
  font-size: 12px;
  font-family: 'Lato';
}

.logo {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 100px;
}

.landingbanner {
  position: relative;
}

.landingbanner img {
  width: 100%;
}

.bannercontainer {
  position: absolute;
  top: 0%;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 350px;
}

.bannercontainer .textcontainer {
  position: relative;
  top: 50%;
}

.landingbanner h1 {
  color: white;
  text-align: center;
}

.landingbanner h2 {
  color: white;
  text-align: center;
}

.ebookheader h3 {
  color: #d26464;
  padding-left: 100px;
}

.ebookcover img {
  box-shadow: 6px 6px 8px #777777;
  vertical-align: center;
  float: left;
}

.ebooktext h5{
  color: #d26464;
}

.ebooktext p {
  color: #777777;
  line-height: 20px;
}

.ebooktext li {
  color: #777777;
  line-height: 20px;
}

.ebookcover {
  padding-left: 100px;
  padding-top: 20px;
}

.ebooktext {
  display: inline-block;
  width: 500px;
  height: 200px;
  vertical-align: top;
  padding-left: 50px;
}

.contactform {
    display: inline-block;
    border: 2px solid #d26464;
    padding: 5px;
    width: 300px;
    height: 200px;
    float: right;
}

.contactform h4 {
  color: #777777;
  padding-left: 15px;
}

.container {
  padding: 15px 15px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #777777;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Lato';
    font-size: 12px;
}

input[type=submit] {
    background-color: #d26464;
    color: white;
    padding: 7px 30px;
    border: 2px solid white;
    cursor: pointer;
    font-family: 'Lusitana';
    text-transform: uppercase;
}

input[type=submit]:hover {
    background-color: #777777;
}
